export('boxplotdou')
S3method(boxplotdou, list)
S3method(boxplotdou, data.frame)
S3method(boxplotdou, factor)
S3method(boxplotdou, formula)
importFrom('grDevices', 'adjustcolor', 'rainbow')
importFrom('graphics', 'boxplot', 'par', 'points', 'rect', 'segments')
importFrom('stats', 'formula', 'model.frame')
importFrom('utils', 'modifyList')
